.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.scene {
  height: 200px;
  width: 950px;
  /* overflow: hidden; */
  position: relative;
}

.title {
  transform: scaleX(5) scaleY(1.2);
  margin-bottom: 5rem;
}
