.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.scene {
  height: 100vh;
  margin-bottom: 5rem;
}

.title {
  position: fixed;
  bottom: 45%;
  left: 50%;
  transform: translateX(-50%) translateY(50%) scaleX(5);
}
