@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

:root {
  --color-bg: black;
  --color-text-primary: #aaaaaa;

  font-family: "VT323", monospace;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-text-primary);
  background-color: var(--color-bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body,
h1,
#root {
  margin: 0;
  padding: 0;
}
